@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@
<img src="~/images/prakash_small.jpg" width="300" height="400"/>
<link href="~/css/techyprakash.css" rel="stylesheet" />

<p class="AboutPara"> 
    This site has been developed to share technical stuff across Microsoft development technologies including .NET, C#, AI/ML, ASP.NET, MVC, Sql Server etc.
    This site is owned by Prakash Tripathi who is a .NET Consultant, Tech Lead, Blogger, Speaker, Microsoft MVP, CSharp Corner MVP, Certified ScrumMaster.
    His technical profiles are as follows..
    <br />
    <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002039"><img src="~/images/MsMvpIcon.png" /></a>
    <a href="http://www.c-sharpcorner.com/members/prakash-tripathi2"><img src="~/images/CSharpCornerIcon.png"></a>
    <a href="https://www.scrumalliance.org/community/profile/ptripathi12"><img src="~/images/csmIcon.png" /></a>  
</p>
