@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    <strong>Query/Support:</strong>
    <a href="mailto:prakash.manit@gmail.com"><img src="~/images/Gmail.png" /></a>
    <a href="https://twitter.com/Prakash_MANIT"><img src="~/images/TwitterIcon.png" /></a>
    <a href="https://www.linkedin.com/in/prakash-tripathi-b7a56018"><img src="~/images/LinkedinIcon.png" /></a><br />   
</address>
