@{
    ViewData["Title"] = "Resource";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<div class="col-md-3">
    <ul>
        <li><a href="~/Resources/DotNetCore_iKeva.pptx">Getting started with .NET Core</a></li>
    </ul>
</div>